<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы</title>
</head>

<body>
    <h1>Фильмы</h1>
    <ul>
        <li style="margin: 10px;">
            <p style="display: inline;">{{movies.movie1}}</p>
            <button>Добавить в избранное</button>
        </li>
        <li style="margin: 10px;">
            <p style="display: inline;">{{movies.movie2}}</p>
            <button>Добавить в избранное</button>
        </li>
        <li style="margin: 10px;">
            <p style="display: inline;">{{movies.movie3}}</p>
            <button>Добавить в избранное</button>
    </ul>
    <button onclick="location.href='/movies/';">Вернутся на главную</button>
</body>

</html>