{% extends 'fourth_task/menu.html' %}

{% block title %}Фильмы{% endblock %}
{% block pagename %}Фильмы{% endblock %}<!DOCTYPE html>

{% block content %}
<ul>
    <li style="margin: 10px;">
        <p style="display: inline;">{{movies.movie1}}</p>
        <button class="btn btn-primary">Добавить в избранное</button>
    </li>
    <li style="margin: 10px;">
        <p style="display: inline;">{{movies.movie2}}</p>
        <button class="btn btn-primary">Добавить в избранное</button>
    </li>
    <li style="margin: 10px;">
        <p style="display: inline;">{{movies.movie3}}</p>
        <button class="btn btn-primary">Добавить в избранное</button>
</ul>
<button class="btn btn-primary" onclick="location.href='/movies/';">Вернутся на главную</button>
{% endblock %}